/* Global Styles */

body {
	background-color:#D3DDF2;
	}

/*color behind header*/	
td {
	font:11px Arial, Helvetica, sans-serif;
	/*color:#ffffff;*/
	word-wrap: none;
	}

/*text in body*/	
a {
	color: #000066;
	}

/*inside hover of strip text*/	
a:hover {
	color: #721724;
	}

/* ID and class Styles */

.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:21px;
	letter-spacing:.15em;
	}
	
.subHeader {
	font:bold 22px Arial, Helvetica, sans-serif;
	color: #993300;
	margin: 10px;
	letter-spacing:.2em;
	}

/*Used for subheader text right at the top underneath the domain name*/
.tagline 	{
	font:22px Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing:.2em;
	border: 2px;
	}

.navheadertext{
	font: 18px Arial, Helvetica, sans-serif;
	color: #732C02;
	line-height:21px;
	letter-spacing:.15em;
	} 

/*top strip*/
#headerText {
    position: relative;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 16px;
	margin-left: auto;
    margin-right: auto;
	}

/*The background color of the tagline*/
#subHeaderText {
	background-color:#32405B;
	}
	
/*This is for the text at the very top, ex. "bars-pubs.com"*/		
#logo 	{
	font:36px Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing:.2em;
	line-height:30px;
	}


/*line in between top and mid band*/
#spacer {
	background-color:#732c02;
	}

/*middle band*/
#navbar {
	background-color:#732C02;
	}

/*list of states on the left, 1st color is the border between the rows*/
#navigation td {
	border-bottom: 1px solid #7C91B9; background-color: #32405B;
	}

/*pre-hover text below*/	
#navigation a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #D3DDF2;
	line-height:16px;
	letter-spacing:0.1em;
	text-decoration: none;
	display:block;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 4px;
	}

/*background for top of left navigation header*/
#navHeader {
	background-color: #7C91B9;	
}

/* background changes on lower left list*/
#navigation a:hover {
	background: #FFFFCC;
	color:#882c39;
	}

/*not used*/
#monthformat {
	border-bottom: 1px dashed #882c39;
	}
		
#dateformat {
	font:11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Arial, Helvetica, sans-serif;
	color: #D3DDF2;
	font-weight:bold;
	letter-spacing:.1em;
	text-decoration:none;
	}
	
#dateformat a:hover {
	color: #FFFFCC;
	letter-spacing:.1em;
	}

#mapDiv {
	color: #000000;
}
	
/* Class Styles */

/* Any other text anywhere in the body not overridden by a new definition  */	
.bodyText {
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:20px;
	margin-top:0px;
	}
.cityNames {
	font:14px Arial, Helvetica, sans-serif;
	color:#721724;
	line-height:20px;
	margin-top:0px;
}
/* Text inside header of left navigation column */

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
	
.navText {
	font: 11px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.title {  font-family: Verdana; font-size: 16px; color: #000000; font-weight: bold; text-decoration: none}
.mapText { font-family: Verdana; font-size: 14px; color: #000000; font-weight: normal; text-decoration: none}